html {
    height: 100%;
}

:root {
    --color: #fff;
    --light-color: #fff;
    --percent: 0;
    --balloon-border-radius: 2px;
    --balloon-color: var(--color);
    --balloon-text-color: #fff;
    --balloon-font-size: 10px;
    --balloon-move: 4px;    
}

body {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;

}


::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--color);
}

* {
    box-sizing: border-box;
}

::backdrop {
    background: #000;
    opacity: 0.45;
}

/* section {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000006b;
    width: 100%;
    height: 100%;
    display: none;
} */

dialog {
    border: none;
    background-color: transparent;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    max-height: 540px;
    height: 100%;
    overflow: hidden;
}

dialog > div.body {
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: relative;
    border-radius: 7px;
    box-shadow: 3px 3px 12px 4px #333;
}

dialog > div.body span.close {
    position: absolute;
    top: -16px;
    right: 10px;
    font-size: 36px;
    opacity: 0.4;
    transition: opacity 0.4s ease;
    cursor: pointer;
}

dialog > div.body span.close:hover {
    opacity: 1;
}

dialog > div.body .tabs {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bbb;
}

dialog > div.body .tabs > span {
    cursor: pointer;
    padding: 4px 10px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: color 0.4s ease;
}

dialog > div.body .tabs > span:hover {
    color: var(--color);
}

dialog > div.body .tabs > span.sel {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    margin-bottom: -1px;
    color: var(--color);
}


.disabled {
    pointer-events: none;
    opacity: 0.4;
}

section.show {
    display: block;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    width: 42px;
    gap: 2px;
}

.logo > b,
.logo > i {
    display: inline-block;
    width: 11px;
    height: 11px;
}

.logo > b {
    background-color: var(--color);
}

.logo > i {
    background-color: transparent;
}

.flip {
    transform: scaleX(-1);
    display: inline-block;
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}

.upper {
    text-transform: uppercase;
}

.grow {
    flex-grow: 1;
}

.up2 {
    display: inline-block;
    transform: translateY(-2px);
}

.byside {
    display: flex;
    gap: 10px;
}

nav {
    width: 100%;
    border-bottom: 1px solid #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: #fff;
}

nav > button {
    font-size: 22px;
}

span.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    color: var(--color);
    line-height: 1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
}

nav > span.spacer {
    flex-grow: 1;
}

nav > span#total {
    font-size: smaller;
    text-align: center;
    font-weight: bold;
    color: #999;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 10px;
}

nav > span#genCounter {
    margin-right: 10px;
}

nav > span#total > b {
    display: inline-block;
    transform: translateY(2px);
}

nav > span#total > small {
    display: inline-block;
    transform: translateY(-2px);
}

.mainbtns {
    display: flex;
    gap: 12px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    gap: 10px;
}


/* .stats > div:first-child {
    width: 59%;
} */

.stats > div:last-child {
    width: 50%;
    position: relative;
}

.stats > div:last-child > span {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


#movebtns {
    position: relative;
    width: 50%;
    z-index: 2;
    transition: all 0.4s ease;
}

#movebtns > span {
    position: absolute;
}

#movebtns > span:nth-child(1) {
    left: 50%;
    transform: translateX(-50%);
}

#movebtns > span:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#movebtns > span:nth-child(3) {
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

#movebtns > span:nth-child(4) {
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}

#movebtns > span:nth-child(5) {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.alignmenu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: var(--light-color);
    flex-direction: column;
    top: 0;
    left: 25px;
    width: 130px;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #444;
    font-size: 13px;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 8px 1px #999;
}

.alignmenu.show {
    opacity: 1;
    pointer-events: all;
}

.alignmenu > span {
    padding: 3px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.alignmenu > span:hover {
    background-color: var(--color);
    color: #fff;
}


aside {
    background-color: #fff;
    width: 210px;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 0x;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.4s ease;
    scrollbar-width: thin;
    scrollbar-color: var(--color) #fff;
}

u {
    text-decoration: none;
}

aside.open {
    right: 0;
    top: 50px;
}


aside .moving {
    width: 74px;
    height: 64px;
    margin: auto;
    position: relative;
    display: inline-block;
}

aside .moving > button {
    position: absolute !important;
    font-size: 22px;
    padding: 0;
    margin: 0;
    outline: none;
}

aside .moving > button:first-child {
    top: 0;
    left: calc(50% - 11px);
}

aside .moving > button:nth-child(2) {
    bottom: 0;
    left: calc(50% - 11px);
}

aside .moving > button:nth-child(3) {
    top: calc(50% - 13px);
    left: 0;
}

aside .moving > button:nth-child(4) {
    top: calc(50% - 13px);
    right: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 22px;
    transition: all 0.4s ease;
    color: #888;
    padding: 0;
}


button:hover {
    color: var(--color);
    transform: scale(1.3);
}


.range {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding-bottom: 5px;
}

.range > span:first-child {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
}

select {
    font-family: "Saira", sans-serif;
    padding: 2px;
    border: 1px solid var(--color);  
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
/*     padding-top: 50px; */
    overflow: hidden;
    position: relative;
}

#life {
    width: calc(100% - 210px);
    height: 100%;
    border-bottom: 1px solid #808080;
}            

#screens {
    min-width: 120px;
}

.langs > div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.langs > div > img {
    width: 22px;
    aspect-ratio: 1 / 1;
    filter: saturate(20%);
    transition: all 0.4s ease;
    cursor: pointer;
}

.langs > div > img:hover {
    filter: saturate(100%);
    transform: scale(1.2);
}

.langs > div > img.sel {
    filter: saturate(100%);
    cursor: default;
    transform: scale(1.5);
}

.colors > span.choice {
    display: flex;
    gap: 6px;
}

.colors > span.choice > b {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: attr(data-bkg color);
    border: 2px solid transparent;
    outline: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.colors > span.choice > b:hover {
    transform: scale(1.2);
}

.colors > span.choice > b.sel {
    border-color: #fff;
    outline-color: var(--color);
    cursor: default;
    pointer-events: none;
    transform: scale(1.2);
}


input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 2px;
    width: 100%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    background-color: var(--color);
    border: none;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background-color: var(--color);
    border: none;
    border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color);
    margin-top: -7px;
    cursor: ew-resize;
}
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color);
    margin-top: -7px;
    cursor: ew-resize;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid var(--color);
    outline-offset: 0.125rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid var(--color);
    outline-offset: 0.125rem;
}

.condition {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: inherit;
    align-items: center;
    color: #888;
    margin-bottom: 10px;
}

.condition > span {
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
}

.condition > span:hover {
    transform: scale(1.4);
}

.condition > span > i {
    font-size: 22px;
}

.condition > span > span {
    font-size: 15px;
}

@media screen and (max-width: 512px){
	nav > span.title > b {
        display: none;
    }
}


/* ----------------------------------------- */
/*  -------  B A L L O O N   C S S  -------  */
/* ----------------------------------------- */
button[aria-label][data-balloon-pos] {
    overflow: visible; }
  
  [aria-label][data-balloon-pos] {
    position: relative;
    cursor: pointer; }
    [aria-label][data-balloon-pos]:after {
      opacity: 0;
      pointer-events: none;
      transition: all 0.18s ease-out 0.18s;
      text-indent: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: normal;
      font-style: normal;
      text-shadow: none;
      font-size: var(--balloon-font-size);
      background: var(--balloon-color);
      border-radius: 2px;
      color: var(--balloon-text-color);
      border-radius: var(--balloon-border-radius);
      content: attr(aria-label);
      padding: .5em 1em;
      position: absolute;
      white-space: nowrap;
      z-index: 10; }
    [aria-label][data-balloon-pos]:before {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: var(--balloon-color);
      opacity: 0;
      pointer-events: none;
      transition: all 0.18s ease-out 0.18s;
      content: "";
      position: absolute;
      z-index: 10; }
    [aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
      opacity: 1;
      pointer-events: none; }
    [aria-label][data-balloon-pos].font-awesome:after {
      font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    [aria-label][data-balloon-pos][data-balloon-break]:after {
      white-space: pre; }
    [aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
      white-space: pre-line;
      word-break: break-word; }
    [aria-label][data-balloon-pos][data-balloon-blunt]:before, [aria-label][data-balloon-pos][data-balloon-blunt]:after {
      transition: none; }
    [aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
      transform: translate(-50%, 0); }
    [aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
      transform: translate(-50%, 0); }
    [aria-label][data-balloon-pos][data-balloon-pos*="-left"]:after {
      left: 0; }
    [aria-label][data-balloon-pos][data-balloon-pos*="-left"]:before {
      left: 5px; }
    [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:after {
      right: 0; }
    [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:before {
      right: 5px; }
    [aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:after {
      transform: translate(0, 0); }
    [aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:before {
      transform: translate(0, 0); }
    [aria-label][data-balloon-pos][data-balloon-pos^="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
      bottom: 100%;
      transform-origin: top;
      transform: translate(0, var(--balloon-move)); }
    [aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
      margin-bottom: 10px; }
    [aria-label][data-balloon-pos][data-balloon-pos="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
      left: 50%;
      transform: translate(-50%, var(--balloon-move)); }
    [aria-label][data-balloon-pos][data-balloon-pos^="down"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
      top: 100%;
      transform: translate(0, calc(var(--balloon-move) * -1)); }
    [aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
      margin-top: 10px; }
    [aria-label][data-balloon-pos][data-balloon-pos^="down"]:before {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: var(--balloon-color); }
    [aria-label][data-balloon-pos][data-balloon-pos="down"]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
      left: 50%;
      transform: translate(-50%, calc(var(--balloon-move) * -1)); }
    [aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
      transform: translate(0, -50%); }
    [aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
      transform: translate(0, -50%); }
    [aria-label][data-balloon-pos][data-balloon-pos="left"]:after, [aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
      right: 100%;
      top: 50%;
      transform: translate(var(--balloon-move), -50%); }
    [aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
      margin-right: 10px; }
    [aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: var(--balloon-color); }
    [aria-label][data-balloon-pos][data-balloon-pos="right"]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
      left: 100%;
      top: 50%;
      transform: translate(calc(var(--balloon-move) * -1), -50%); }
    [aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
      margin-left: 10px; }
    [aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-right-color: var(--balloon-color); }
    [aria-label][data-balloon-pos][data-balloon-length]:after {
      white-space: normal; }
    [aria-label][data-balloon-pos][data-balloon-length="small"]:after {
      width: 80px; }
    [aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
      width: 150px; }
    [aria-label][data-balloon-pos][data-balloon-length="large"]:after {
      width: 260px; }
    [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
      width: 380px; }
      @media screen and (max-width: 768px) {
        [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
          width: 90vw; } }
    [aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
      width: 100%; }